body{
    text-align: center;
}



.button{
    background-color:#04a7ff;
    border:solid;
    border-radius:30px;
    color:#8effee;
    padding:15px 32px;
    text-align:center;
    display:inline-block;
    font-size:32px;
    position: absolute;
    top:85%;
    left:50%;
    margin-left:-175px;
    transition-duration: 1s;
}